@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main: #ccd5ae;
    --highlt: #fefae0;
    --secondary: #d4a373;
    --mainlt: #e9edc9;
    --secondarylt: #faedcd;
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--main);
}

h1 {
    font-family: 'Bitter', serif;
}

h2 {
    font-family: 'Bitter', serif;
    font-weight: 900;
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

h4 {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

button {
    padding: 1rem;
    margin: .2rem;
    background-color: var(--main);
    border: none;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

button:hover {
    background-color: var(--secondary);
    transition: .4s;
}

form {
    background-color: var(--secondarylt);
    padding: 1rem;
    border-radius: 1%;
}

form select {
    padding: .5rem;
    background-color: var(--main);
    border: none;
    margin: 1px;
    font-family: 'Bitter', serif;
    font-weight: 500;
    text-align: center;
}

form select:hover {
    background-color: var(--secondary);
    transition: .4s;
}

form input {
    background-color: var(--highlt);
    border: 1px solid black;
    margin: 1px;
}

.header {
    background-color: var(--secondary);
    height: 50px;
    border-radius: 1%;
    text-align: center;
    box-shadow: 0 1px 1px black;
    margin: 0 .5rem;
}

.header span {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Bitter', serif;
}

.App {
    display: flex;
    flex-direction: row;
    margin: 1rem .5rem;
    padding: 1rem;
    justify-content: space-between;
    overflow: scroll;
    max-height: 600px;
    background-color: var(--highlt);
    border-radius: 1%;
}


.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    text-align: center;
    margin: .5rem;
    max-height: 575px;
    overflow: scroll;
}

.library-wrap {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: .5rem;
    border-left: 7px ridge var(--secondary);
    max-height: 575px;
    overflow: scroll;
}

.library-header {
    text-align: center;
}

.library li {
    border-bottom: 1px solid var(--main);
    list-style: decimal;
    padding-bottom: .5rem;
    max-height: 575px;
    overflow: scroll;
}

.books {
    display: flex;
    flex-direction: column;
    max-height: 575px;
    overflow: scroll;
}

.book-edit {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.book-edit h2 {
    text-align: center;
}

.book-edit input {
    padding: 10px;
}

.book-edit option {
    padding: 10px;
}

.book-list {
    list-style: none;
    width: 300px;
}

.book-list li {
    margin: .2rem;
    padding: .2rem;
}

.book-title {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Bitter', serif;
}

.author-name {
    font-weight: 500;
    font-family: 'Bitter', serif;
}

@media all and (max-width: 470px) {
    form {
        padding: .5rem;
        max-height: 250px;
    }

    button {
        font-size: 12px;
        padding: .4rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .App {
        flex-direction: column;
        max-height: 1500px;
    }

    .book-edit {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .book-edit input {
        padding: 3px;
    }
    
    .book-edit option {
        padding: 3px;
    }
    
    .books {
        align-items: center;
        max-height: 250px;
        font-size: 12px;
    }

    .book-title {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .author-name {
        font-size: .9rem;
    }
    
    .library-wrap {
        max-height: 250px;
        width: 400px;
        justify-content: center;
    }
  
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .App {
        flex-direction: row;
    }

    .books {
        font-size: 12px;
        max-height: 200px;
    }

    .library-wrap {
        max-height: 300px;
    }
}
